<h1>Welcom to {{channel?.name}}</h1>

<div *ngIf="!token; else drawingBoard">

  <div class="container">
    <div class="row">
      <div class="col-md-offset-5 col-md-3">
        <div class="form-login">

          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <input type="text" formControlName="username" placeholder="Username" class="form-control input-sm chat-input" />
            <br/>
            <input type="text" formControlName="password" placeholder="Password" class="form-control input-sm chat-input" />
            <br/>
            <button [disabled]="!loginForm.valid" class="btn btn-primary" type="submit">Login</button>
          </form>

        </div>

      </div>
    </div>
  </div>

</div>

<ng-template #drawingBoard>
  <div *ngIf="token && channel?.name">
      <app-drawing-board [token]="token" [groupName]="channel?.name"></app-drawing-board>
  </div>
</ng-template>