<!-- <div id="snippetContent">
  <div class="content container-fluid bootstrap snippets">
    <div class="row row-broken">
      <div class="col-sm-3 col-xs-12">
        <div class="col-inside-lg decor-default board" style="overflow: auto; outline: none; max-height: 500px" tabindex="5000">
          <div class="board-users">
            <h6>Online</h6>
            <div class="user">
              <div class="avatar">
                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="User name">
                <div class="status online"></div>
              </div>
              <div class="name">User name</div>
              <div class="mood">User mood</div>
            </div>
            <div class="user">
              <div class="avatar">
                <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="User name">
                <div class="status offline"></div>
              </div>
              <div class="name">User name</div>
              <div class="mood">User mood</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9 col-xs-12" style="overflow: hidden; outline: none;" tabindex="5001">
        <div class="col-inside-lg decor-default row">
          <div class="col-sm-3 col-xs-12" style="height: 500px; border-right: 1px dashed; text-align: center">
            <div class="random-object">
              <img src="https://www.randomlists.com/img/things/washing_machine.jpg" alt="Object">
            </div>
            <h3 class="object-name">Washing Machine</h3>
          </div>
          <div class="col-sm-9 col-xs-12">
            <h2>Drawing Board</h2>
            <canvas id="canvas" width="1000" height="500">

            </canvas>
          </div>
        </div>
        <div class="col-inside-lg decor-default">
          <div class="answer-add">
            <input placeholder="Write your answer">
            <span class="answer-btn answer-btn-send"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div> -->

<div id="snippetContent">
    <div class="content container-fluid bootstrap snippets">
      <div class="row row-broken">
        <div class="col-sm-12 col-xs-12" style="overflow: hidden; outline: none;" tabindex="5001">
          <div class="col-inside-lg decor-default row">        
            <div class="col-sm-12 col-xs-12">
              <h2>Drawing Board</h2>
              <canvas id="canvas" width="1000" height="500">
  
              </canvas>
            </div>
          </div>
          <div class="col-inside-lg decor-default">
            <div class="answer-add">
              <input placeholder="Write your answer">
              <span class="answer-btn answer-btn-send"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>